version: '3.8'

services:
  proxy:
    build: .
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - POSTGRES_HOST=tso4g4cwwwgwcs4kscs48s40
      - POSTGRES_PORT=5432
      - POSTGRES_DB=postgres
      - POSTGRES_USER=supabase_admin
      - POSTGRES_PASSWORD=b9P15yK8JKXgAeXdGpPU93SKgsXFJjQn
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - coolify

networks:
  coolify:
    external: true
